<app-navbar></app-navbar>

<body>
    <div class="row">
        <div class="col-6">
            <h3><strong>Contact Us</strong></h3>
            <p>
                Email us with any questions or inquiries. we would love to give you a feeedback. Our respond team will get back
                to you. <br> Fill out the form form inquiries and suggestion, for we love to put smiles on your faces
            </p>
        </div>
        <div class="form col-6 ">
            <h3>Contact Form</h3>
            <div >
                <form>
                    <label for="">Name:</label><br>
                    <input class="form-control" type="text" placeholder="Your name" name="name" autocoplete="off"><br>
                    <label for="">Email:</label><br>
                    <input class="form-control" type="email" placeholder="email" name="email" autocoplete="off"><br>
                    <label for="">Message:</label><br>
                    <textarea class="form-control" name="message" placeholder="write your messsage" cols="10"
                        rows="3"></textarea><br>
                    <button type="submit" class="btn btn-primary">send</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="contact row">
        <div class="col">
            <div class="png"><img src="assets/phone.png" alt=""></div>
            <H4>Reach us through phone</H4>
            <p>0721 339943 <br>
                landline 0202 365642
            </p>

            <p> </p>
        </div>
        <div class="col">
            <div class="png"><img src="assets/address.png" alt=""></div>
          <h4>Find us in our location </h4>
          <p>
              Mali Safi Hse <br>
              23rd street, Nairobi <br>
              P.O BOX 67611
          </p>
        </div>
        <div class="col">
            <div class="png"><img src="assets/email.png" alt=""></div>
            <h4> Email us through</h4>
            <p>
                anniedelicacies@gmail.com
            </p>
    
        </div>
    
    </div>
    <br>
    <div class="social">
        <a href="https://www.facebook.com/login/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
        <a href="https://www.google.com/" class="fa fa-google"></a>
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </div>
</body>