.about{
    height: 300px;
    background-color: rgb(192, 140, 240);
    margin-left: 80px;
    margin-right: 80px;
    height: 500px;
    border-radius: 2%;

}
.about h3{
    padding-top:5px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.about h5{
    text-align: center;
    font-style: italic;
}
.anne{
    width: 50%;
    float: left;
    text-align: center;
}
.img{
    Width: 50%;
    float: right;
    height: 400px;
    width: 450px;
}