<app-navbar></app-navbar>

<!-- section2 -->
<div class="about" >
    <h3>Annie Delicacies</h3>
    <h5>Get your cake for all occassion, at any time</h5>

    <br>

    <div class="anne">
        <h2>
            <em>"They say money cant buy happines <br>but it can buy cakes; <br> and thats kinda the same thing"</em>
        </h2>
    </div>
    <div class="img">
    </div>
</div>
<br>
<hr>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="assets/birthday 2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Our Services</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/bb1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <p class="card-text">We bake in according to occassion and to the customers' satisfaction</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/anni.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Preservation</h5> 
            <p class="card-text">We have organised and set a side time in every month, to come close to our customer where they could give us feedback and also have 
                a chance to taste some of our new product to be released in the market. <a href="">Take survey</a>
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        
    </div>
</div>

<app-footer></app-footer>