.container{
    align-items: center;
    
}
.about{
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    height: 700px;
    border-radius: 2%;
    background-image: url('/assets/white.jpg');
    background-size:cover;
    width:auto;
    background-position: center;

}
.about h3{
    padding-top: 190px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.about h5{
    padding-top: 80px;
    text-align: center;
    font-style: italic;
}
.card-title{
    font-weight: bold;
    text-align: center;
}
.anne{
    margin-top: 100px;
    width: 50%;
    float: left;
    text-align: center;
    
}


.img{
    Width: 50%;
    float: right;
    height: 400px;
    width: 450px;
}
article{
    padding: 20px;
}